.note {
  font-size: 120%;
  color: red;
}
.green {
  font-size: 110%;
  color: green;
}
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}
body, html {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(83, 129, 145);
}

.content {
  margin: 0 auto;
  width: 400px;
}

table, td, th {
  border: 1px solid #aaa;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 30px;
}

td {
  text-align: center;
  padding: 5px;
}

.form {
  margin-top: 20px;
}

#content {
  width: 70%;
}