{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <h1><span class=green >Green</span>Barky</h1>

    <p>Enter your bookmarks below.</p>

    <div class="form">
      <form action="/" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="URL">URL:</label>
        <input type="text" id="url" name="url"><br><br>
        <label for="note">Note:</label>
        <input type="text" id="note" name="note"><br><br>
        <input type="submit" value="Add Bookmark">
      </form><br><br>
    </div>
    <table>
      <tr>
        <th>Title</th>
        <th>Notes</th>
        <th>URL</th>
        <th>Date Added</th>
        <th>Date Edited</th>
        <th>Actions</th>
      </tr>
      {% for bookmarks in bookmarks %}
        <tr>
          <td>{{ bookmarks.title }}</td>
          <td>{{ bookmarks.notes }}</td>
          <td><a href="{{ bookmarks.url }}">{{bookmarks.url}}</a></td>
          <td>{{ bookmarks.date_added }}</td>
          <td>{{ bookmarks.date_edited }}</td>
          <td>
            <a href="/update/{{bookmarks.id}}">Update</a>
            <br>
            <a href="/delete/{{bookmarks.id}}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>

    <br><br>
    <div class="vertical-menu">
      <a href="#" class="active">Home</a>
      <a href="#">Import GitHub Stars</a>
    </div>
    {% endblock %}


